{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Michaela R">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/DT_style.css' %}">
    </head>
    <body>
        <div class="page_container">
            {% include "DanishTourism_navbar.html" %}
            <header class="dt-header-title">
                <h1>{% block header %}{% endblock %}</h1>
            </header>
            {% block content %}{% endblock %}
        </div>

        {% include "DanishTourism_footer.html" %}
    </body>
</html>
