{% extends 'DanishTourism_base.html' %}

{% block title %}Danish Tourism App - Edit the Location{% endblock %}

{% block header %}Edit: {% endblock %}

{% block content %}
<div class="dt-edit_location-form">
				<form method="POST"> <!-- Replace this with the Django Form -->
					{% csrf_token %}
					{{form.as_p}}
					<button id="dt-edit_location-submit" type="submit" name="Edit Location">Edit Location</button>
					<a href="{% url 'DanishTourism_delete' item.pk %}"><button type="button" class="dt-edit-Deletebtn dt-edit-btn">Delete Location</button></a>
				</form>
				<br>
			</div>


{% endblock %}
