<ul class="nav navbar">
  <li class="nav-item"><a class="nav-link active" href="{% url 'itemsApp_home' %}">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'new_item' %}">Add Item</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'edit_page' %}">Edit Item</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'select_item' %}">Item List</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'api' %}">API</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'book_scrape' %}">Scraper</a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.alexsandersontech.com" target="_blank">Contact</a></li>
</ul>
