{% extends 'DanishTourism_base.html' %}

{% block title %}Danish Tourism App{% endblock %}

{% block header %}Welcome to the Danish Tourism App! &#9679; Velkommen til det Danske Turisme App!{% endblock %}

{% block content %}
<p>Do you dream of exploring Denmark? Let us help you make your dreams come true!</p>
{% load static %}<img src="{% static 'images/dannebrog.jpg' %}" class="dt-home-img" alt="Danish Flag">
<br>
<button class="dt-home-tourLink btn"><a href="{% url 'DanishTourism_tourWidget' %}" class="dt-home-tourLink">View Available Tours!</a></button>
<button class="dt-home-flightLink btn"><a href="{% url 'DanishTourism_PlanTrip' %}" class="dt-home-flightLink">Plan Your Trip!</a></button>

{% endblock %}
