{% extends "PropHound_base.html" %}

{% block title %}Edit: {{ property.street_add }}{% endblock %}
{% block content %}

<div class="text-center">
    <h3>Edit</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
        </form>
    <button type="submit"><a href="{% url 'prophound_delete' property.id %}">Delete</a></button>
    <button type="submit"><a href="{% url 'prophound_details' property.id %}">Return</a></button>
</div>









{% endblock %}